{% extends 'base/base.html' %}
{% load static %}

{% block title %}Eliminar Factura{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="alert alert-warning text-center">
        <h2>¿Está seguro de que desea eliminar la factura con código {{ factura.codigo_factura }}?</h2>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'detalle_factura' factura.id %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
