{% extends 'base/base.html' %}

{% block title %}Subir Imagen{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Subir Imagen</h1>
    <div class="card p-4 mt-4 shadow-sm">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary">Subir Imagen</button>
                <a href="{% url 'catalogo' %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
