{% extends 'base/base.html' %}
{% load static %}

{% block title %}Staff View{% endblock %}

{% block content %}

<style>
.card {
    transition: transform 0.3s ease; /* Transición suave en ambos estados */
}

.container:hover .card {
    transform: translateY(-10px); /* Movimiento hacia arriba */
}
</style>

<div class="container mt-5 d-flex justify-content-center">
    <!-- Contenedor principal -->
    <div class="card shadow-lg" style="max-width: 400px; width: 100%;">
        <div class="card-body text-center">
            <!-- Título -->
            <h1 class="text-center mb-4" style="color: #8e9eab;">Staff</h1>

            <!-- Botones -->
            <div class="mb-3">
                <a href="{% url 'login_trabajador' %}" 
                class="btn btn-success btn-lg w-100" 
                style="background-color: #F9C74F; border-color: #F9C74F;">
                Login Trabajador
                </a>
            </div>
            <div>
                <a href="{% url 'login_administrador' %}" 
                class="btn btn-secondary btn-lg w-100"
                style="background-color: #007bff; color: #fff;">
                Login Administrador
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
