{% extends 'base/base.html' %}

{% block title %}Nosotros{% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- Título -->
    <div class="card shadow-lg mb-4">
        <div class="card-header text-center" style="background-color: #ffffff;">
            <h1 class="mb-0" style="color: #007BFF;">Nosotros</h1>
        </div>
        <div class="card-body">
            <!-- Contenido del texto -->
            <p class="fs-5 text-justify">
                Rent a Car Viña del Mar fue fundado en 1993 por el visionario Francisco Vergara, quien detectó una necesidad importante en la región de Valparaíso. La zona, reconocida por su atractivo turístico y su flujo constante de visitantes tanto nacionales como extranjeros, carecía de suficientes servicios de arriendo de vehículos que satisficieran las demandas de quienes deseaban explorar Viña del Mar y sus alrededores cómodamente. Hasta ese momento, solo existía una alternativa en toda la región.
            </p>
            <p class="fs-5 text-justify">
                Con un enfoque en ofrecer vehículos económicos y de buena calidad, Rent a Car Viña del Mar nació con la misión de proporcionar un servicio accesible, confiable y eficiente. Desde el corazón de la ciudad, ubicado en 3 Norte con 4 Poniente, nuestro negocio se convirtió rápidamente en una referencia para quienes buscan explorar las bellezas costeras, los paisajes icónicos y la vibrante vida urbana de esta joya turística.
            </p>
            <p class="fs-5 text-justify">
                Durante más de tres décadas, hemos mantenido nuestro compromiso con la excelencia y la satisfacción de nuestros clientes. Nuestra flota de vehículos, en constante renovación, asegura que los visitantes puedan disfrutar de una experiencia segura y placentera, mientras que nuestro equipo de profesionales trabaja incansablemente para brindar un servicio personalizado y amigable.
            </p>
            <p class="fs-5 text-justify">
                En Rent a Car Viña del Mar, valoramos la confianza de nuestros clientes y nos esforzamos por ser parte de sus recuerdos inolvidables en esta maravillosa región. Te invitamos a descubrir por qué somos una de las opciones preferidas para el arriendo de vehículos en la zona y a formar parte de nuestra historia.
            </p>
        </div>
    </div>
</div>
{% endblock %}
