{% extends 'base/base.html' %}
{% load static %}

{% block title %}Ingresar Factura{% endblock %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <!-- Contenedor principal -->
    <div class="card shadow-lg" style="max-width: 530px; width: 100%;">
        <div class="card-header text-center bg-white">
            <h1 class="mb-0 text-warning">Ingresar Factura</h1>
        </div>
        <div class="card-body">
            

            <!-- Formulario para ingresar factura -->
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.as_p }}
                </div>

                <!-- Botones de acción -->
                <div class="d-flex justify-content-between mt-5">
                    <button type="submit" class="btn w-50 text-dark me-2" style="background-color: #F9C74F; border-color: #F9C74F;">Crear Factura</button>
                    <a href="{% url 'lista_facturas' %}" class="btn btn-secondary w-50 ms-2">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
