{% extends 'base/base.html' %}
{% load static %}

{% block title %}Ingresar Factura{% endblock %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <!-- Contenedor principal -->
    <div class="card shadow-lg" style="max-width: 600px; width: 100%;">
        <div class="card-body">
            <!-- Título -->
            <h1 class="text-center text-primary mb-4">Ingresar Factura</h1>

            

            <!-- Formulario -->
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.as_p }}
                </div>

                <!-- Botones de acción -->
                <div class="d-flex justify-content-between mt-4">
                    <button type="submit" class="btn btn-primary w-50 me-2">Crear Factura</button>
                    <a href="{% url 'adm_lista_facturas' %}" class="btn btn-secondary w-50 ms-2">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
